wowcam-puppeteer.mbodm.com {
	reverse_proxy puppeteer:8000
	header {
		Strict-Transport-Security "max-age=31536000;"
	}
}
wowcam-transfersh.mbodm.com {
        reverse_proxy transfersh:8080
	basicauth / {
		transfersh $2a$14$E4/MpVjLFl7gGed/TZbgguScerQlba3BDGe88V/oeLlSyThW0RaSO
	}
        header {
                Strict-Transport-Security "max-age=31536000;"
        }
}
